<head>
</head>

<body>
  <div id="status"> <%= @status %> </div>
  <table>
    <tr>
      <td id="00" data-coord='0-0'><%= @board.grid[0][0]%></td>
      <td id="01" data-coord='0-1'><%= @board.grid[0][1]%></td>
      <td id="02" data-coord='0-2'><%= @board.grid[0][2]%></td>
    </tr>
    <tr>
      <td id="10" data-coord='1-0'><%= @board.grid[1][0]%></td>
      <td id="11" data-coord='1-1'><%= @board.grid[1][1]%></td>
      <td id="12" data-coord='1-2'><%= @board.grid[1][2]%></td>
    </tr>
    <tr>
      <td id="20" data-coord='2-0'><%= @board.grid[2][0]%></td>
      <td id="21" data-coord='2-1'><%= @board.grid[2][1]%></td>
      <td id="22" data-coord='2-2'><%= @board.grid[2][2]%></td>
    </tr>
  </table>
  <a href="/reset">New Game?</a>
</body>


<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<script>
  $(function(){
    $('td').click(function(){ 
      var self = $(this);
      var param_data = self.data('coord').split('-');
      var id = String(param_data[0] + param_data[1]);
      $.ajax({
        method: 'POST',
        url: "/place",
        data: {'coords': param_data},
        success: function(data){
          $('#status').text(JSON.parse(data)['gameStatus']);
          if(JSON.parse(data)['instruction'] != 'dont update'){
            $('#' + id).text(JSON.parse(data)['piece']);
          };
        }
      });
    });
  })
  
</script>
<style type='text/css'>
  table {
    border: 1px solid black;
    width: 100%;
    height: 100%;

  }

  td, th {
    border: 1px solid black;
    height: 30%;
  }




<style>