Tic Tac Toe
<head>
  <body>
    <div>
      <td><%= @board.grid[0][0]%></td>
      <td><%= @board.grid[0][1]%></td>
      <td><%= @board.grid[0][2]%></td>
    </div>
    <div>
      <td><%= @board.grid[1][0]%></td>
      <td><%= @board.grid[1][1]%></td>
      <td><%= @board.grid[1][2]%></td>
    </div>
    <div>
      <td><%= @board.grid[2][0]%></td>
      <td><%= @board.grid[2][1]%></td>
      <td><%= @board.grid[2][2]%></td>
    </div>
  </body>
</head